@font-face {
  font-family:'Kanit', cursive;
  src: url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
}

.App{
  padding-top: 10px;
  padding-left: 50px;
}

#velog {
  font-size: 20px;
  font-family: 'Kanit', cursive;
  letter-spacing: 1px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
